<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089053793158-o3lgmt6r4g94bfu3obf11941h5un4t2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089053793158-o3lgmt6r4g94bfu3obf11941h5un4t2o</string>
	<key>API_KEY</key>
	<string>AIzaSyDDA5XnBYgl21TPGlAy4DwEVTpUvQbQzOg</string>
	<key>GCM_SENDER_ID</key>
	<string>1089053793158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ca7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ca7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089053793158:ios:b1a0c90f88de9e9930aa07</string>
</dict>
</plist>